<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <!-- <li class="nav-header">Sidebar</li> -->
      <li class="nav-header">Got a rad bike?  Show us.</li>
      <li><%= link_to "Sign up now", "#"  %></li>
      <li><%= link_to "Try it out", "#"  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->